<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Perfil</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style2.css">
  </head>
  <body>
    <!-- Topo da página -->
     <div class="menu">
       <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Menu</button>
          <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
          <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Menu lateral</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
              <a href="inicio.html" class="link">Início</a> <br>
              <a href="index.html" target="_blank" class="link">Controle de ações</a> <br>
              <a href="reuniao.html" class="link">Reuniões</a>
          </div>
          </div>
     </div>
     <section class="topo">
        <div class="item1">
            <img src="imagens/usuario.webp" alt="" height="100px">
        </div>
        <div class="item2">
            <h2>  </h2>
            <p>Administrador</p>
        </div>
     </section>
     <!-- FIM DO TOPO -->
      <!-- Descrição -->
       <h2 style="text-align: center;">Descrição</h2>
       <p style="width: 600px; margin: auto;">Flávio é administrador de finanças e líder da equipe de TI da empresa. Com mais de 5 anos de dedicação à organização, ele combina uma sólida experiência na gestão financeira com um olhar estratégico para a tecnologia. Em seu blog, compartilha aprendizados, dicas de produtividade, inovação em gestão e bastidores do dia a dia corporativo, unindo números e tecnologia com foco em resultados.</p>
       <!-- FIM DA DESCRIÇÃO -->
        <!-- Contribuições -->
         <h2 style="text-align: center; margin-top: 70px;">Contribuições</h2>
         
        <div class="container">
          <div class="row g-4">
            <div class="col-md-1 mx-auto">
              <div class="card h-100" style="width: 300px;" id="card1">
                <img src="..." class="card-img-top" alt="..."> <!--Colocar imagem fictícia-->
                <div class="card-body">
                    <h5 class="card-title">Cooperação com mais de 500 vendas</h5>
                    <p class="card-text">Flávio teve um papel essencial na coordenação financeira e estratégica que apoiou a concretização de mais de 500 vendas, contribuindo diretamente para o crescimento e estabilidade da empresa. Seu trabalho garantiu agilidade nos processos, controle de custos e integração entre os times comercial e de TI.</p>
                    <a href="#" class="btn btn-primary">Leia sobre</a>
                </div>
            </div>
          </div>

            <div class="col-md-6">
              <div class="card h-100" style="width: 300px;" id="card2">
                <img src="imagem/equipe.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Criação do setor de análise financeira</h5>
                    <p class="card-text">Flávio foi o responsável por idealizar e implementar o setor de análise financeira da empresa, estruturando processos, definindo indicadores-chave e formando a equipe desde o início. Sua iniciativa trouxe mais precisão nas tomadas de decisão, maior controle orçamentário e uma visão estratégica dos resultados financeiros.</p>
                    <a href="#" class="btn btn-primary">Leia sobre</a>
                </div>
              </div>
            </div>
        </div>
        </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
  </body>
</html>