<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="imagens/logo-branca.png">
    <title>Reuniões</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="static/style4.css">
  </head>
  <body>
    <!-- Começo do topo -->
    <header class="topo">
        <section class="nav">
            <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Menu</button>
            <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Menu lateral</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <a href="inicio.html" class="link">Início</a> <br>
                <a href="index.html" class="link">Controle de ações</a> <br>
            </div>
            </div>
        </section>
        <div class="item1">
            <img src="imagens/logo.png" alt="" height="150px">
        </div>
        <div class="item2">
            <a href="inicio.html" target="_blank">
                <span class="material-symbols-outlined">
                    logout
                </span>
            </a>
            <a href="perfil.html" target="_blank">
                <span class="material-symbols-outlined">
                    account_circle
                </span>
            </a>
        </div>
    </header>
    <!-- FIM DO TOPO -->
     <!-- Começo do conteúdo principal -->
      <article class="reuniao">
        <div class="item3">
            <h2>Última reunião</h2>
            <p>Data: 28/06/2025</p>
            <p>Participantes: Flávio Inocêncio, Livia de Lima, João Silva, Matheus Lima</p>
            <p>Duração: 1hr</p>
            <ul>
                Pontos discutidos:
                <li>Análise de desempenho de carteira no último bimestre</li>
                <li>Discussão sobre oportunidades de mercado</li>
                <li>Atualização sobre o cenário econômico atual</li>
                <li>Revisão de metas de captação de relacionamento com investidores</li>
                <li>Planejamento de novos serviços</li>
            </ul>
            <ul>
                Próximos passos:
                <li>Ajustar portfólios conforme nova estratégia</li>
                <li>Agendar reunião com equipe de marketing para divulgação de novos serviços</li>
                <li>Atualizar relatórios para clientes até 03/07/2025</li>
            </ul>
        </div>
        <div class="item4">
            <h2>Próximas reuniões</h2>
            <div class="container text-center">
                <div class="row row-cols-2">
                    <div class="col" style="border: 3px solid blue; width: 300px;">
                        <p>Data: 03/07/2025</p>
                        <p>Participantes: Flávio Inocêncio, Livia de Lima, Clientes</p>
                        <button type="button" class="btn btn-success" style="margin-top: 22px;">Marcar como concluida</button>
                    </div>
                    <div class="col" style="border: 3px solid blue; width: 300px; height: 200px;">
                        <p>Data: 10/07/2025</p>
                        <p>Participantes: João Silva, Matheus Lima, Representante da equipe de marketing</p>
                        <button type="button" class="btn btn-success">Marcar como concluida</button>
                    </div>
                    <div class="col" style="border: 3px solid blue; width: 300px; height: 200px;">
                        <p>Data: 15/07/2025</p>
                        <p>Participantes: Flávio Inocêncio, Matheus Lima, Clientes</p>
                        <button type="button" class="btn btn-success">Marcar como concluida</button>
                    </div>
                    <div class="col" style="border: 3px solid blue; width: 300px;">
                        <p>Data: 20/07/2025</p>
                        <p>Participantes: Flávio Inocêncio, Livia de Lima, João Silva, Matheus Lima</p>
                        <button type="button" class="btn btn-success">Marcar como concluida</button>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-primary" style="height: 50px; margin-top: 10px;">Agendar próxima reunião</button>
            <button type="button" class="btn btn-danger" style="height: 50px; margin-top: 10px;">Cancelar reunião</button>
        </div>
      </article>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
  </body>
</html>